<!DOCTYPE html>

<html>
	
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css" media="all">
	<style>
    	</style>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>	
	<style>
	* {
	  box-sizing: border-box;
	}
	</style>
	
<body>

<div class="topnav">
  <a href="index.html">About</a>
  <a href="teaching.html">Teaching</a>
  <a href="publications.html">Publications</a>
  <div class="dropdown">
    <button class="dropbtn">Gallery
 	<i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="gallerieLandes.html">Landes</a>
      <a href="#">Pyrenées</a>
      <a href="#">Sicile</a>
    </div>
  </div> 
  <a href="cv/Timothee_Audinet_Resume.pdf" target="_blank">Resume</a>
</div>

	
<div class="container">
			
  {{ content }}
			
</div><!-- /.container -->

<footer>
	
<ul>
   <li><a href="mailto:timothee.audinet@orange.fr">email</a></li>
   <li><a href="https://github.com/Timothee-Audinet">https://github.com/Timothee-Audinet</a></li>
</ul>
</footer>
  
</body>
</html>
